.tag {
    width: fit-content;
    margin: 1rem auto;
    padding: 0.4rem 0.5rem;
    background-color: var(--color-primary-50);
    color: var(--color-neutral-100);
    display: block;
    border: none;
    border-radius: 8px;
    box-shadow: 0 0 16px rgba(0, 0, 0, 0.2);
    font-family: "K2D";
    font-weight: 800;
    font-size: 1rem;
    cursor: default;
    user-select: none;
    transition: background-color 0.4s, transform 0.4s;
}
.tag:hover {
    background-color: var(--color-primary-75);
    transform: translateY(-1px);
}

.secondary {
    background-color: var(--color-secondary-50);
}
.secondary:hover {
    background-color: var(--color-secondary-75);
}

.disabled {
    background-color: var(--color-neutral-50);
    box-shadow: none;
}
.disabled:hover {
    transform: none;
    background-color: var(--color-neutral-50);
}

.error {
    background-color: var(--color-error-50);
}
.error:hover {
    background-color: var(--color-error-75);
}