.content {
    width: 100%;
    height: fit-content;
    container-type: inline-size;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.posts {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    flex-wrap: wrap;
}

@container (max-width: 1080px) {
    .posts {
        grid-template-columns: repeat(2, 1fr);
    }
}

@container (max-width: 480px) {
    .posts {
        grid-template-columns: 1fr;
    }
}