.content {
    width: 100%;
    height: calc(100vh - 104px);
    display: flex;
    gap: 20px;
}

.profileInfo {
    width: 400px;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 4px;
    padding: 20px;
    background-color: var(--color-neutral-100);
    border-radius: 8px;
    box-shadow: 0 0 16px rgba(0, 0, 0, 0.2);
    transition: 0.4s;
}

.industryLogo {
    width: 150px;
    border-radius: 50%;
    padding: 4px;
    background-color: var(--color-primary-50);
}

.nameCep {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.industryName {
    width: 100%;
    word-break: break-all;
    text-align: center;
}

.tabView {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4px;
    padding: 20px;
    background-color: var(--color-neutral-100);
    border-radius: 8px;
    box-shadow: 0 0 16px rgba(0, 0, 0, 0.2);
    transition: 0.4s;
}