.content {
    width: 100%;
    height: calc(100vh - 104px);
    display: flex;
    gap: 20px;
}

.leftContent {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.profileInfo {
    width: 400px;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8px;
    padding: 20px;
    background-color: var(--color-neutral-100);
    border-radius: 4px;
    box-shadow: 0 0 16px rgba(0, 0, 0, 0.1);
    transition: 0.4s;
}

.industryLogo {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 50%;
    border: 4px solid var(--color-primary-50);
}

.industryName {
    width: 100%;
    word-break: break-all;
    text-align: center;
}

.tabView {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4px;
    padding: 20px;
    background-color: var(--color-neutral-100);
    border-radius: 4px;
    box-shadow: 0 0 16px rgba(0, 0, 0, 0.1);
    transition: 0.4s;
}

@media (max-width: 1080px) {
    .content {
        flex-direction: column;
        height: fit-content;
    }
    
    .leftContent {
        align-items: center;
    }
}

@media(max-width: 430px) {
    .profileInfo {
        width: fit-content;
        max-width: 280px;
    }
}