.card {
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding: 8px;
    background-color: var(--color-neutral-100);
    border-radius: 4px;
    box-shadow: 0 0 16px rgba(0, 0, 0, 0.1);
    transition: 0.4s;
}
.card:hover {
    transform: translateY(-4px);
}

.aaa {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.actions {
    width: fit-content;
    height: fit-content;
    display: flex;
    align-items: center;
    gap: 4px;
}

.actions img {
    width: 32px;
    cursor: pointer;
}