.modalOverlay  {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: none;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.2);
    z-index: 100;
}

.isOpen {
    display: flex;
}

.content {
    width: 1000px;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 20px;
    background-color: var(--color-neutral-100);
    border-radius: 4px;
    box-shadow: 0 0 16px rgba(0, 0, 0, 0.1);
}

.containerLeft {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

.imageContainer {
    width: 100%;
    height: 400px;
    position: relative;
    border-radius: 4px;
}

.postImg {
    width: 100%;
    height: 400px;
    object-fit: cover;
    border-radius: 4px;
}

.industryInfo {
    position: absolute;
    left: 10px;
    top: 10px;
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 8px;
    background-color: var(--color-neutral-100);
    border-radius: 4px;
    box-shadow: 0 0 16px rgba(0, 0, 0, 0.1);
}

.industryImg {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 2px solid var(--color-primary-50);
    object-fit: cover;
}

.tags {
    width: 100%;
    display: flex;
    gap: 4px;
}

.containerRight {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;
}

.postDetails {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    padding: 0 20px;
    overflow: auto;
}

.postInfo {
    width: 100%;
}

.description {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 4px;
}

.actions {
    width: 100%;
    display: flex;
    gap: 4px;
}