.modalOverlay  {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: none;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.2);
    z-index: 100;
}

.isOpen {
    display: flex;
}

.content {
    width: 1000px;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 20px;
    background-color: var(--color-neutral-100);
    border-radius: 4px;
    box-shadow: 0 0 16px rgba(0, 0, 0, 0.1);
}

.containerLeft {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

.productImg {
    width: 100%;
    height: 400px;
    object-fit: cover;
    border-radius: 4px;
}

.tags {
    width: 100%;
    display: flex;
    gap: 4px;
}

.productDetails {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}

.productInfo {
    width: 100%;
}

.description {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 4px;
}

.actions {
    width: 100%;
    display: flex;
    gap: 4px;
}