section {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    width: 900px;
    height: 600px;
    background-color: var(--color-neutral-100);
    position: relative;
    border-radius: 8px;
    box-shadow: 0 0 16px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    gap: 0;
}

.contentLeft {
    width: 40%;
    height: 100%;
    background-color: var(--color-primary-50);
    color: var(--color-neutral-100);
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
    padding: 0 24px;
}

.leftSubtitle {
    font-family: "DM Sans";
    font-size: 1.2rem;
}

.signUpShortcut {
    display: flex;
    flex-direction: column;
}

.buttonLabel {
    font-family: "DM Sans";
    font-size: 1rem;
}

.contentRight {
    width: 60%;
    height: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.logo {
    width: 48px;
    position: absolute;
    right: 10px;
    top: 10px;
}

.rightTitle {
    padding-bottom: 10px;
}