.content {
    width: 100%;
    height: calc(100vh - 104px);
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    width: 900px;
    height: 600px;
    display: flex;
    background-color: var(--color-neutral-100);
    position: relative;
    border-radius: 4px;
    box-shadow: 0 0 16px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    gap: 0;
}

.contentLeft {
    width: 40%;
    height: 100%;
    background-color: var(--color-primary-50);
    color: var(--color-neutral-100);
    text-align: center;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
    padding: 20px;
}

.leftSubtitle {
    font-size: 1.5rem;
}

.signInShortcut {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4px;
}

.contentRight {
    width: 60%;
    height: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    padding: 20px;
}

.logo {
    width: 48px;
    position: absolute;
    right: 10px;
    top: 10px;
}

.navigationBalls {
    display: flex;
    gap: 10px;
}

.navigationBall {
    width: 10px;
    height: 10px;
    background-color: var(--color-neutral-50);
    border-radius: 50%;
}

.ballSelected {
    background-color: var(--color-primary-50);
}