.input {
    width: 100%;
    display: block;
    border: none;
    font-family: "DM Sans";
    font-size: 1rem;
    font-weight: 400;
    text-align: start;
    color: var(--color-secondary-0);
    background-color: var(--color-neutral-100);
    padding: 0.8rem 1rem;
}
.input:focus {
    outline: none;
}

.default {
    border-radius: 4px;
    box-shadow: 0 0 16px rgba(0, 0, 0, 0.1);
}

.underline {
    background-color: #FFFFFF00;
    border-bottom: 2px solid var(--color-secondary-0);
}

.ssm {
    max-width: 100px;
}
.sm {
    max-width: 200px;
}
.md {
    max-width: 300px;
}
.lg {
    max-width: 400px;
}
.xg {
    max-width: 500px;
}