.content {
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 20px;
}

.solicitations {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    flex-wrap: wrap;
}

@container (max-width: 1024px) {
    .solicitations {
        grid-template-columns: repeat(2, 1fr);
    }
}

@container (max-width: 768px) {
    .solicitations {
        grid-template-columns: 1fr;
    }
}