.input {
    width: 100%;
    display: block;
    padding: 0.8rem 1rem;
    border: none;
    border-radius: 8px;
    box-shadow: 0 0 16px rgba(0, 0, 0, 0.2);
    font-size: 1rem;
    resize: none;
}
.input:focus {
    outline: none;
}

.md {
    max-width: 300px;
}